<ion-header>
  <ion-toolbar>
    <ion-title>Registrar Servidor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<div>
   <form (ngSubmit)="saveDetails()">
     <ion-item>
       <ion-label position="floating">IdUsuario</ion-label>
       <ion-input [(ngModel)]="user" name="user" required></ion-input>
     </ion-item>

     <ion-item>
       <ion-label position="floating">IP del Servidor</ion-label>
       <ion-input [(ngModel)]="ip" name="ip" required></ion-input>
     </ion-item>

     <ion-item>
       <ion-label position="floating">Host del Servidor</ion-label>
       <ion-input [(ngModel)]="host" name="host" required></ion-input>
     </ion-item>

     <ion-button expand="full" type="submit">Aceptar</ion-button>

     <!-- Mostrar mensaje de error si hay campos vacíos -->
     <div *ngIf="errorMessage" style="color:red;">{{ errorMessage }}</div>
   </form>

   <div *ngIf="message">{{ message }}</div> <!-- Mensaje de estado -->
</div>

</ion-content>